.env
.env.local
.env.demo
.env.prod
__pycache__
.venv/
scripts/test_data/
scripts/create_100mb_dummy_txt_file.py
__pycache__/*
.pyc
benchmarks/*.jsonl
project_mental_model.md
v2_unified_portfolio.md
v5_sprint_plan.md