services:
  postgres:
    image : pgvector/pgvector:pg16
    container_name : postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: "postgres"
    volumes:
      - "pgdata:/var/lib/postgresql/data"
volumes:
  pgdata:
    
